.container
  .col-md-12
    .title
      %h1#test Your Images

      .images.col-md-10
        = image_tag "image_1.jpg", class: "first showit lightbox_trigger"
        = image_tag "image_2.jpg", class: "second showit lightbox_trigger"
        = image_tag "image_3.jpg", class: "third showit lightbox_trigger"
        = image_tag "image_4.jpg", class: "fourth hide lightbox_trigger"
        = image_tag "image_5.jpg", class: "fifth hide lightbox_trigger"
        = image_tag "image_6.jpg", class: "sixth hide lightbox_trigger"
        = image_tag "image_7.jpg", class: "seventh hide lightbox_trigger"
        %br
        %p Click on an image to view at full size
      .col-md-2
        %a.next.btn.btn-default.btn-lg Next >
  
.col-md-2
  %h1 My test form
  = form_tag root_path do
    = label_tag :email
    = text_field_tag :email, params[:email], id: "email_field"
    = label_tag :something
    = password_field_tag :password, params[:password], id: "password_field"
    = submit_tag "Sign in", class: "btn btn-large btn-primary", id: "submit_button"
  





